* {
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 10;
    width: 1350px;
    height: 100px;
    background-color: #373867;
}
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}
aside {
    position: fixed;
    top: 100px;
    width: 200px;
    height: 800px;
    background-color: #373867;
}
.navbar {
    text-align: left;
    font-size: 16px;
    
    color: #C4C4C4;

}
.navbar ul li {
    padding-left: 15px;
    border-bottom: 1px solid #C4C4C4; width: 125px; left: 10px;  
    font-weight: 500; 
}
.navbar address {
    padding-left: 25px;
    border-bottom: 1px solid #C4C4C4; width: 175px; left: 10px;
    font-size: 14px;
    font-weight: 300;
}
.navbar ul li:nth-child(4) {
    color:#46A37C;
    text-decoration-style:none;
    border: 0px;
}
.navbar img + li {
    border-bottom: 1px solid #46A37C; width: 125px; left: 10px;
    color:#46A37C;
    text-decoration-style:none;
}
.navbar a {
    color:#C4C4C4;
}
main {
    position: relative;
    margin-left: 250px;
    top: 100px;
    width: 1000px;
    background-color: white ;
}
.section {
    border-bottom: 2px solid chocolate; 
    position: relative;
    height: 450px;
    font-size: 16px;

}
h1 {
    
    font-size: 50px;
    font-weight: 2000px;
    color: #2F3058;
}
.section h2{
    padding-top: 25px;
    font-size: 25px;
    font-weight: 1000px;
    color:#2F3058;
}
.imagen {
    position: absolute;
}
.pesas {
    top: 35px;
    right: 50px;
    width: 450px;
    height: 350px;
}
.first {
    padding-top: 25px;
    width: 450px;
    color: #000000BF;
}
.meetus {
    
    color: #979797;
}
.meetus h2 {
    padding-top: 20px;
    margin-top: 20px;
    color: #2F3058;
    font-size: 30px;
    font-weight: 1000px;
}
.card {
    position: absolute;
    display: inline-block;
    
}
.notes, .calendar {
    top: 75px;
}
.group, .person {
    bottom: 75px;
}
.calendar, .person{
    right: 25px;
}
.notes1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.notes1 h3 {
    position: absolute;
    top:25px;
    font-size: 18px;
    color: #2F3058;
}
.notes1 p {
    position: absolute;
    top: 50px;
}
.calendar1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.calendar1 h3 {
    position: absolute;
    top:25px;
    font-size: 18px;
    color: #2F3058;
}
.calendar1 p {
    position: absolute;
    top: 50px;
}
.group1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.group1 h3 {
    position: absolute;
    bottom:60px;
    font-size: 18px;
    color: #2F3058;
}
.group1 p {
    position: absolute;
    bottom: 0px;
}
.person1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.person1 h3 {
    position: absolute;
    bottom:60px;
    font-size: 18px;
    color: #2F3058;
}
.person1 p {
    position: absolute;
    bottom: 15px;
}
.logo-07, .logo-08, .logo-09, .logo-10 {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.contactus h2 {
    color: #2F3058;
    font-size: 30px;
    font-weight: 1000px;
    
}
.place1, .place3 {
    display: inline-block;
}
.place2
.aboutus {
    color: #6D6D6D;
}
.gym {

}
footer {
    position: absolute;
    margin-left: 200px;
    width: 1150px;
    height: 100px;
    background-color: #2C2C3A;

}
.finish {
    font-size: 15px;
    text-align: center;
    color:#49A37B;
}