* {
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 10;
    width: 1350px;
    height: 100px;
    background-color: #373867;
}
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}
aside {
    position: fixed;
    top: 100px;
    width: 200px;
    height: 800px;
    background-color: #373867;
}
.navbar {
    position: relative;
    text-align: left;
    font-size: 17px; 
    color: #C4C4C4;
}
.logo-03 {
    position: absolute;
    top: 105px;
    right: 30px;
 }
 .logo-04 {
    position: absolute;
    bottom: 100px;
    left: 0px;
 }
 .logo-05 {
    position: absolute;
    bottom: 60px;
    left: 0px;
 }
 .logo-06 {
    position: absolute;
    bottom: 20px;
    left: 0px;
 }
.navbar ul li {
    padding-left: 15px;
    border-bottom: 1px solid #C4C4C4; width: 125px; left: 10px;  
    font-weight: 500; 
    line-height: 30px;
}
.navbar address {
    padding:10px;
    padding-left: 25px;
    border-bottom: 1px solid #C4C4C4; width: 175px; left: 10px;
    font-size: 13px;
    font-weight: 300;
}
.navbar ul li:nth-child(4) {
    color:#46A37C;
    text-decoration-style:none;
    border: 0px;
}
.navbar img + li {
    border-bottom: 1px solid #46A37C; width: 125px; left: 10px;
    color:#46A37C;
    text-decoration-style:none;
}
.navbar a {
    color:#C4C4C4;
}

main {
    position: relative;
    margin-left: 250px;
    top: 100px;
    width: 900px;
    background-color: white ;
}
.section {
    border-bottom: 4px solid #D9D9D9; 
    position: relative;
    height: 550px;
    width: 1000px;
    font-size: 16px;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    color: #2F3058;
}
.section h2{
    padding-top: 25px;
    font-size: 22px;
    font-weight: 1000px;
    color:#2F3058;
}
.imagen-01 {
    position: absolute;
    top: 45px;
    right: 0px;
    width: 500px;
    height: 380px;
}
.paragraph1 {
    padding-top: 45px;
    width: 450px;
    color: #000000BF;
}
.meetus {
    
    color: #979797;
}
.meetus h2 {
    padding-top: 20px;
    margin-top: 20px;
    color: #2F3058;
    font-size: 30px;
    font-weight: 1000px;
}
.card {
    position: absolute;
    display: inline-block;
    
}
.notes, .calendar {
    top: 100px;
}
.group, .person {
    bottom: 100px;
}
.calendar, .person{
    right: 25px;
}
.notes1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.notes1 >h3 {
    position: absolute;
    top:25px;
    font-size: 18px;
    color: #2F3058;
}
.notes1 p {
    position: absolute;
    top: 50px;
}
.calendar1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.calendar1 >h3 {
    position: absolute;
    top:25px;
    font-size: 18px;
    color: #2F3058;
}
.calendar1 p {
    position: absolute;
    top: 50px;
}
.group1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.group1 >h3 {
    position: absolute;
    bottom:60px;
    font-size: 18px;
    color: #2F3058;
}
.group1 p {
    position: absolute;
    bottom: 0px;
}
.person1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
}
.person1 >h3 {
    position: absolute;
    bottom:60px;
    font-size: 18px;
    color: #2F3058;
}
.person1 p {
    position: absolute;
    bottom: 15px;
}
.logo-07, .logo-08, .logo-09, .logo-10 {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.contactus {
    position: relative;
    height: 600px;
}
.contactus form {
    position: relative;
    width: 700px;
    height: 550px;
}
.name {
    display: inline-block;
    width: 300px;
    height: 60px;
    color:#2F3058;
    font-weight: 700;
}
.name label {
    display: block;
}
.name input {
    border-color: #373867;
    width: 250px;
}
.contactus h2 {
    padding: 20px;
    padding-left: 0px;
    font-size: 25px;
    font-weight: 500;
    color: #2F3058;
}

.last-name {
    display: inline-block;
    width: 300px;
    height: 60px;
    color:#2F3058;
    font-weight: 700;
}
.last-name label {
    display: block;
}
.last-name input {
    border-color: #373867;
    width: 250px;
}
.email {
    width: 300px;
    height: 50px;
    color:#2F3058;
    font-weight: 700;
}
.email label {
    display: block;
}
.email input {
    border-color: #373867;
    width: 250px;
}
.check {
    width: 350px;
    height: 50px;
}
.check-01 {
    display: block;
}
.check-02 {
    display: block;
}
.check-03 {
    display: block;
}

.message-01 {
    margin-bottom: 10px;
    padding: 10px;
    width: 700px;
    height: 100px;
    border-color: #373867;
}
.message-02 {
    display: inline-block;
    font-size: 10px;
}
.button-01 { 
    position:absolute;
    right: 100px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #373867;
}
.button-02 { 
    position:absolute;
    right: 10px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    border-color: #373867;
    color: #373867;
}
.aboutus {
    position: relative;
    width: 400px;
    height: 600px;
    color: #6D6D6D;
}
.aboutus article {
    position: relative;
    width: 900px;
    height: 150px;
    font-size: 15px;
}
.aboutus > h2 {
    top: 0px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 1000px;
    color: #2F3058;
}
.aboutus h3 {
    font-size: 18px;
    font-weight: 500;
    color: #2F3058;
}
.thoughts {
    position: absolute;
    bottom: 32px;
}
.family {
    position: absolute;
    top: 25px;
}
.paragraph2 {
    position: absolute;
    top: 0px;
}
.paragraph3 {
    position: absolute;
    display: block;
    margin-left: 240px;
    margin-right: 350px;
    bottom: 0px;
}
.paragraph4 {
    position:absolute;
    bottom: 20px;
    margin-right: 350px;
}

.imagen-02 {
    position: absolute;
    bottom:0px;
    left:0px;
    width: 220px;
    height: 180px;
}
.imagen-03 {
    position: absolute;
    top: 0px;
    right:0px;
    width: 350px;
    height: 220px;
}
.gym {
    display: inline-block;
    font-size: 14px;
}
.activities {
    position: absolute;
    top:90px;
    width: 300px;
    height: 130px;
    border: 2px solid;
    padding-left: 0px;
    border-color: #49A37B;
    border-radius: 15px;
} 
.activities ol {
    margin-left: 40px;
}
.activities >h3 {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700px;
    color: #2F3058;
}
.black {
    position: absolute;
    top: 90px;
    width: 300px;
    height: 130px;
    padding-left: 0px;
    border: 2px solid;
    border-color: #49A37B;
    border-radius: 15px;
}

.black ol {
    margin-left: 40px;
}
.black >h3 {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700px;
    color: #2F3058;
}
.classic {
    position: absolute;
    bottom: 150px;
    width: 300px;
    height: 130px;
    border: 2px solid;
    padding-left: 0px;
    border-color: #49A37B;
    border-radius: 15px;
}
.classic ol {
    margin-left: 40px;
}
.classic >h3 {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700px;
    color: #2F3058;
}
.only-classes {
    position: absolute;
    bottom: 150px;
    width: 300px;           
    height: 130px;
    padding-left: 0px;
    border: 2px solid;
    border-color: #49A37B;
    border-radius: 15px;
}

.only-classes ol {
    margin-left: 40px;
}
.only-classes >h3 {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700px;
    color: #2F3058;
}
.black, .only-classes{
    right: 100px;
}
footer {
    position: absolute;
    margin-left: 200px;
    width: 1150px;
    height: 100px;
    background-color: #2C2C3A;

}
.finish {
    font-size: 15px;
    text-align: center;
    color:#49A37B;
}