<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Nazarena" />
    <title>landing page responsive</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/sidebar.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <aside>
      <nav class="navbar">
        <div class="navbar-box-01">
          <img
            src="../../Assets/Images/logo-03.png"
            alt="logo"
            class="logo-03"
          />
        </div>
        <article>
          <ul>
            <li>Home</li>
            <a href="../views/sign-up.html"><li>Sing up</li></a>
            <a href="./login.html"> <li>Login</li></a>
            <li>Contact</li>
            <li>
              <img
                src="../../Assets/Images/logo-04.png"
                alt="arrow"
                class="logo-04"
              />
            </li>
            <li>Get in touch</li>
          </ul>
        </article>
        <article class="navbar-box-03">
          <img
            src="../../Assets/Images/logo-05.png"
            alt="adress"
            class="logo-05"
          />
          <address>
            <a href="RocketSA@gmail.com">RocketSA@gmail.com</a>
          </address>
        </article>
        <article class="navbar-box-04">
          <img
            src="../../Assets/Images/logo-06.png"
            alt="phone"
            class="logo-06"
          />
          <address>(000) 000-000000</address>
        </article>
        <article class="navbar-box-05">
          <img
            src="../../Assets/Images/logo-07.png"
            alt="home"
            class="logo-07"
          />
          <address>Somewhere -Zeballos 1410</address>
        </article>
      </nav>
    </aside>
    <div class="desktop-box-01">
      <header>
        <div class="div1">
          <img
            src="../../Assets/Images/logo-02.png"
            alt="burger"
            class="logo-02"
          />
          <img
            src="../../Assets/Images/logo-01.png"
            alt="logo"
            class="logo-01"
          />
        </div>
        <div class="div2">
          <a href="./login.html"><p>LOGIN</p></a>
          <a href="./sign-up.html"><p>SIGN UP</p></a>
        </div>
      </header>
      <main>
        <section class="section megarocket">
          <h1>MegaRocket GYM</h1>
          <h2>Launch your fitness journey con megarocket</h2>
          <div class="desktop-box-02">
            <img
              src="../../Assets/Images/gym-01.png"
              alt="dumbbells"
              class="image-01"
            />
            <div class="paragraph-01">
              <p>
                Welcome to Megarocket SA, where we believe in creating a
                holistic approach to fitness. Our gym is a state-of-the-art
                facility that caters to all your fitness needs. Whether you're
                looking to build muscle, increase flexibility, or simply stay
                healthy, we have everything you need to reach your goals.
              </p>
              <p>
                Our gym is equipped with the latest fitness equipment, including
                cardio machines, weightlifting equipment, and functional
                training areas. We also offer personalized training programs
                tailored to your specific fitness goals, whether you're a
                beginner or a seasoned athlete.
              </p>
              <p>
                At Megarocket SA, we believe that fitness is a lifestyle, not
                just a hobby. Join us today and start your journey towards a
                healthier, happier you.
              </p>
            </div>
          </div>
        </section>
        <section class="section meet-us">
          <h2>Meet us</h2>
          <div class="desktop-box-03">
            <article>
              <img src="../../Assets/Images/group-93.png" alt="notes image" />
              <div class="box-01">
                <h3>Book an appointment</h3>
                <p>Book your turn for a visit, come and meet us!</p>
              </div>
            </article>
            <article>
              <img
                src="../../Assets/Images/group-94.png"
                alt="calendar image"
              />
              <div class="box-02">
                <h3>Attention schedule</h3>
                <p>You will find all our schedules, adapted to your needs.</p>
              </div>
            </article>
          </div>
          <div class="desktop-box-04">
            <article>
              <img src="../../Assets/Images/group-95.png" alt="group image" />
              <div class="box-03">
                <h3>Membership management</h3>
                <p>
                  Here you can manage your membership, we have a variety of
                  them, take a look in the GYM section below.
                </p>
              </div>
            </article>
            <article>
              <img src="../../Assets/Images/group-96.png" alt="person image" />
              <div class="box-04">
                <h3>Contact form & suggestions</h3>
                <p>
                  Write to us, our team will always be willing to listen to you!
                </p>
              </div>
            </article>
          </div>
        </section>
        <section class="section contact-us">
          <form>
            <div class="boxes-02">
              <h2>Contact us</h2>
              <div class="desktop-box-05">
                <div class="box-05">
                  <label>Name</label>
                  <input type="text" placeholder="Name" />
                </div>
                <div class="box-06">
                  <label>Last name</label>
                  <input type="text" placeholder="Last name" />
                </div>
              </div>
              <div class="box-07">
                <label>Email</label>
                <input type="email" placeholder="Email" />
              </div>
            </div>
            <div class="boxes-03">
              <h2>Motive</h2>
              <div class="box-08">
                <input type="checkbox" checked />
                <label>I want to know about memberships and costs.</label>
              </div>
              <div class="box-09">
                <input type="checkbox" />
                <label>I want to make a question or a suggestion.</label>
              </div>
              <div class="box-10">
                <input type="checkbox" />
                <label>I want to make a claim.</label>
              </div>
            </div>
            <h2>Message</h2>
            <textarea class="box-11"></textarea>
            <div class="box-12">
              <input type="button" value="SEND MESSAGE" />
              <input type="reset" value="RESET" />
            </div>
          </form>
        </section>
        <section class="section about-us">
          <h2>About us</h2>
          <article>
            <div class="paragraph-02">
              <p>
                Megarocket SA gym was founded in 1995 by a former Olympic
                athlete named Max Strong. Max had always been passionate about
                fitness and wanted to create a gym that would provide people
                with a welcoming and inclusive environment to pursue their
                fitness goals.
              </p>
            </div>
            <div class="paragraph-03">
              <p>
                Over the years, Megarocket SA grew into one of the most popular
                gyms in the city, with a thriving community of members who were
                passionate about fitness. Max continued to run the gym until he
                retired in 2020.
              </p>
            </div>
            <h3>Our thoughts</h3>
          </article>
          <article class="boxes-05">
            <div class="paragraph-04">
              <img
                src="../../Assets/Images/gym-02.png"
                alt="training person"
                class="image-02"
              />
              <p>
                At Megarocket SA, we believe that fitness is not just a hobby,
                it's a lifelong journey. Our expert trainers are committed to
                helping you achieve your goals.
              </p>
            </div>
            <div class="paragraph-05">
              <p>
                We believe that fitness is not a one-size-fits-all solution.
                That's why we offer a wide range of classes and services to
                cater to every individual's unique needs and preferences.
              </p>
            </div>
          </article>
          <article class="boxes-06">
            <h3>We are a family</h3>
            <div class="paragraph-06">
              <p>
                We're not just a gym - we're a family. At Megarocket SA, you'll
                find a supportive and welcoming community that will keep you
                motivated and inspired to reach your goals.
              </p>
              <img
                src="../../Assets/Images/gym-03.png"
                alt="gym"
                class="image-03"
              />
            </div>
          </article>
        </section>
        <section class="section gyms">
          <h2>GYM section</h2>
          <div class="desktop-box-06">
            <article>
              <h3>Activities</h3>
              <ol>
                <li>Crossfit</li>
                <li>functional</li>
                <li>Box</li>
                <li>Musculation</li>
              </ol>
            </article>
            <article>
              <h3>Black Membership</h3>
              <ol>
                <li>Free access to musculation room.</li>
                <li>Free access to classes with pre-inscription.</li>
                <li>Personalized follow up with a trainer.</li>
                <li>Grid visualization.</li>
              </ol>
            </article>
            <article>
              <h3>Classic Membership</h3>
              <ol>
                <li>Free access to musculation room.</li>
                <li>Personalized follow up with a trainer.</li>
                <li>Grid visualization</li>
              </ol>
            </article>
            <article>
              <h3>Only classes membership</h3>
              <ol>
                <li>Free access to classes with pre-inscription.</li>
                <li>Grid visualization.</li>
              </ol>
            </article>
          </div>
        </section>
      </main>
      <footer>
        <div class="finish">
          <img src="../../Assets/Images/logo-08.png" alt="twitter icon" />
          <img src="../../Assets/Images/logo-09.png" alt="instagram icon" />
          <img src="../../Assets/Images/logo-10.png" alt="facebook icon" />
        </div>
        <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
