<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document sign-up</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <script src="../js/sign-up.js"></script>
  </head>
  <header>
    <img src="../../Assets/Images/logo-01.png" alt="logo" class="logo-01" />
  </header>
  <body>
    <main>
      <h1>Sign Up</h1>

      <form class="form-sign-up">
        <h2>Register</h2>
        <div class="container-left">
          <div class="name-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="Name" />
          </div>
          <div class="lastname-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="Last name" />
          </div>
          <div class="dni-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="DNI" />
          </div>
          <div class="birth-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="date" placeholder="Birthday" />
          </div>
          <div class="location-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="Location" />
          </div>
        </div>
        <div class="container-right">
          <div class="adress-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="Adress" />
          </div>
          <div class="celphone-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="Celphone" />
          </div>
          <div class="postal-code-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="Postal code" />
          </div>
          <div class="email-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="text" placeholder="Email" />
          </div>
          <div class="password-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="password" placeholder="Password" />
          </div>
          <div class="repeat-password-input">
            <img src="../../Assets/Images/icon-04.png" alt="icon" />
            <input type="password" placeholder="Repeat password" />
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
