main {
  background-image: url("../../Assets/Images/gym.png");
  background-repeat: no-repeat;
  height: 100%;
}

main h1,
.form-sign-up h2 {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
}

.form-sign-up h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-sign-up {
  width: 75%;
  height: 75%;
  background-color: #8e969c;
  opacity: 90%;
}

form p {
  color: #373867;
  font-size: 16px;
}

.return {
  text-align: end;
}

.container-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 74%;
}

#birth-input {
  min-height: 25px;
}
.container-inputs div {
  display: flex;
  flex-direction: column;
  height: 30px;
  margin: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button input {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  width: 100px;
  background-color: #cc9d42;
  color: #ffffff;
}

.ok {
  display: none;
}

.noOk {
  display: block;
  color: #c90d0d;
}

@media only screen and (min-width: 600px) {
  main {
    position: fixed;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    top: 80px;
  }
}
