.navbar {
  display: none;
}

@media only screen and (min-width: 601px) {
  aside {
    position: absolute;
    display: flex;
    width: 252px;
    height: 100%;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell;
    background-color: #373867f2;
    opacity: 95%;
  }
  .navbar {
    display: flex;
    margin-left: 25px;
    flex-direction: column;
    align-content: center;
  }
  .navbar-box-01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo-03 {
    display: flex;
    width: 80px;
    height: 45px;
  }
  .logo-04 {
    width: 14px;
    height: 8px;
  }
  .logo-05,
  .logo-06,
  .logo-07 {
    width: 16px;
    height: 16px;
  }
  .navbar ul li {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 75%;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
  }
  .navbar-box-02 li:nth-child(1) {
    border: 0px;
    color: #46a37c;
    text-decoration-style: none;
  }
  .navbar-box-02 {
    display: flex;
    justify-items: space-between;
    align-items: center;
  }
  .navbar address,
  .navbar a {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;

    color: #c4c4c4;
    text-decoration-style: none;
  }

  .navbar li:nth-child(5) {
    padding-bottom: 0;
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    color: #46a37c;
    border-bottom: 1px solid #46a37c;
  }
  .navbar-box-03 {
    display: flex;
    justify-items: first baseline;
    align-items: center;
    padding: 10px 10px 10px 0;
    width: 75%;
    justify-items: space-between;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
  }

  .navbar-box-04 {
    display: flex;
    justify-items: first baseline;
    align-items: center;
    padding: 10px 10px 10px 0;
    width: 75%;
    justify-items: space-between;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
  }
}
.navbar-box-05 {
  display: flex;
  justify-items: first baseline;
  align-items: center;
  padding: 10px 10px 10px 0;
  width: 75%;
  justify-items: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}
